doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        include ./header.pug
        h2 Login 
        form(action="/api/login"
            method="POST")
            div                                              
                input(
                    type="email"
                    placeholder="Email"
                    name="email")                            
                input(
                    type="password"
                    placeholder="Password"
                    name="password")                            
                button(
                type="submit"
                ) Login